.box{
  border: darkblue solid;
  width: 150px;
  height: 150px;
  margin: 5px 10px;
}
.header{
  text-align: center;
  font-weight: bold;
  font-size: large;
  background-color: darkblue;
  color: lightgray;
}
.main{
text-align: center;
  margin: 10px 0;
}
.engine{
  text-align: center;
}
.headOfTypes{
  font-weight: bold;
}
