.App {
  text-align: center;
}




.header {
  padding: 0;
  background-color: #15131e;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  margin: 10px 10px;
  color: #61dafb;
  font-weight: bold;
  text-decoration: none;
}
.logo{

align-items: center;
  padding: 0;

}
html{
  width: 100%;
  height: 1600px;
  background-repeat:no-repeat ;
  background-size: cover;
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/785246265590932496/69FF77147E60E0D301282E01D178BCAB5541C44D/");
}
