.UserLink{
  margin: 10px 10px 0;
  text-decoration: none;
  border: black solid;
  padding: 6px 12px;
  color: white;
  background-color: darkblue;
}
.PostLink{
  margin: 10px 10px 0;
  text-decoration: none;
  border: black solid;
  padding: 6px 12px;
  color: white;
  background-color: darkblue;
}
.header{
  text-align: center;
  background-color: antiquewhite;
padding: 20px 0;
  margin-bottom: 5px;
}
.main{
background-color: cadetblue;
}
